@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #31354e;
  color: white;
  width: 350px;
  height: 600px;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 40px;
  transition: all 500ms 500ms ease;
}

.card.white {
  background-color: white;
  color: #31354e;
}
.card:hover {
  transform: translateY(-10px);
}
.card.white .card-user-info .card-user-career {
  color: #7a7a7a;
}
.card.white .card-statistics-followers .card-followers {
  color: #7a7a7a;
}
.card .card-head {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.card-head-left {
}
.card-head-right i {
  margin-left: 5px;
}
.card-user-info {
  padding: 0 25px;
}
.card-img-area {
  display: inline-block;
  position: relative;
}
.card-img {
  width: 120px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 40px;
  transition: 500ms;
}
.card-img:hover{
  width: 150px;
}
.card-check {
  background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
  color: white;
  width: 25px;
  padding: 2px;
  border-radius: 50px;
  font-size: 18px;
  position: absolute;
  bottom: 15px;
  right: 1px;
}
.card-user-info {
}
.card-user-name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 32px;
}
.card-user-career {
  font-weight: 400;
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 14px;
}
.hireme {
  background: linear-gradient(79deg, #474bff 0%, #bc48ff 100%);
  color: white;
  padding: 12px 42px;
  border: 0;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0 7px 10px -6px #000000;
  transition: 500ms;
}
.hireme:hover {
  transform: translateY(-5px);
}
.hireme:active {
  background: linear-gradient(79deg, #bc48ff 10%, #474bff 100%);
}
.card-hr {
  border: 1px solid #4a4c64;
  margin: 30px 0;
}
.card-statistics {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}
.card-statistics-followers {
}
.card-statistics-icon {
  width: 75px;
}
.card-statistics-value {
}
.card-statistics-value p {
  margin: 0;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}
.card-followers {
  font-size: 12px;
  color: #d9d9d9;
}
